<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet", href="styles/style.css")
		link(rel="stylesheet", href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
		script(defer="", src="scripts/script.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
		
	body
		
		img(src="https://images.unsplash.com/photo-1567699656128-64d49d3b6a98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80", width="250", alt="")


		h1.test#test(data-id='21') Тестовая страница!
		h3#hello Hello, world!
		article.text
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum nobis, dolor asperiores consequuntur! Tempora eaque, rerum sint pariatur cum dolorum aut placeat, illo voluptas assumenda nihil recusandae libero provident ipsam quasi dolor ea tenetur tempore, accusantium natus facere sed! Natus alias temporibus laboriosam recusandae sapiente molestias neque? Debitis accusamus dicta molestiae ducimus, deleniti dolor. Libero consectetur vero consequuntur voluptatibus cumque, necessitatibus, nesciunt harum delectus molestias accusamus quo!
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, quia, voluptas rem ab laudantium illum aperiam. Tempore maxime hic in harum. Nisi fugiat est, dicta?
		ul
			li First
			li Second
			li Third
			li Fourth

		table.table(rules="all")
			tr
				td case
				td case
				td 
			tr
				td 
				td case
				td case
			tr
				td case
				td 
				td case

		form
			input(type="text" id="txt")
			input(type="submit" id="send")

		.box

		button#btn BUTTON